/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 0px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0s ease;
}

.btn-download {
    display: inline-block;
    padding: 10px 10px;
    margin: 50px 0px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0s ease;
    background-color: #000000;
    color: white;
}

.download-icon {
    width: 15px;
    height: 15px;
    max-height: 20px;

 }

.btn-secondary {
    background-color: #40444b;
    color: white;
}

.btn-third {
    background-color: #232f47;
    color: white;
}

.btn-fourth {
    display: inline-block;
    padding: 10px 10px;
    margin: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0s ease;
    background-color: #ff0000;
    color: white;
}

/* Better buttons */
.btn-resource-dl {
    background-color: #232f47;
    color: rgb(255, 255, 255);
    margin:0px;
}

.btn-resource-discord {
    display: inline-block;
    padding: 10px 20px;
    margin: 12px 12px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0s ease;
    background-color: #40444b;
    color: white;
}

.btn-resource-dedcon {
    background-color: #ff8800;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0s ease;
}

.btn-resource-10p {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 0px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0s ease;
}





/* Header and Navigation */
header {
    background-color: #2c2f33;
    padding: 0px 0;
    text-align: center;
}

nav {
    background-color: #232f47;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    background: transparent;
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0s ease-in-out;
    border: 0px solid #fff;
    margin: 0 10px;
    /* box-shadow: 0 0 2px 0 #283652, 0 0 10px 2px #283652, inset 0 10px 10px 0 #283652, inset 0 0 2px 2px #283652; */
}

.navbtnhover:hover {
    border: 0;
    box-shadow: 0 0 3px #3d4594, 0 0 7px #3d4594, 0 0 20px #3d4594;
    
}

/* Links */
a {
    color: #7289da;
    text-decoration: none;
    transition: color 0s ease;
}

.btn-third:hover {
    border: 0;
    box-shadow: 0 0 3px #109e10, 0 0 20px #109e10, 0 0 20px #109e10;
    background-color: #109e10;
}
.btn-fourth:hover {
    border: 0;
    box-shadow: 0 0 3px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00;
    background-color: #00ff00;
}

.btn:hover {
    opacity: 0.9;
    box-shadow: 0 0 3px #252525, 0 0 7px #252525, 0 0 20px #252525;
}

.foo:hover, .foo:focus {
    border: 0;
    box-shadow: 0 0 3px #109e10, 0 0 20px #109e10, 0 0 20px #109e10;
    background-color: #109e10;

}

.foodedcon:hover {
    border: 0;
    box-shadow: 0 0 3px #ff8800, 0 0 20px #ff8800, 0 0 20px #ff8800;
    background-color: #ff8800;

}

.btn-resource-dedcon:hover {
    background-color: #e68a00; 
}